* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: pink;
}

.card {
  @apply bg-colorLightYellow rounded-2xl border m-6;
}

.card-body {
  @apply p-8;
}

.card-img-top {
  @apply rounded-t-2xl;
}
