<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista1.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend">Antonio</h5>
        <p class="card-text">
            Lleva 5 años entrenando de forma independiente, y se
            ha unido al club para darlo todo.
        </p>
    </div>
</div>

<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista2.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend mb-2">María</h5>
        <p class="card-text">
            Empezó desde los 5 años a prácticar este deporte,
            por el cual ha sentido siempre un amor
            incondicional.
        </p>
    </div>
</div>

<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista3.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend mb-2">Elena</h5>
        <p class="card-text">
            Parece que está pegada 24 horas a una raqueta, pero
            Elena, además de jugar es una excelente entrenadora.
        </p>
    </div>
</div>

<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista4.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend mb-2">Rafael</h5>
        <p class="card-text">
            Nuestro Rafa, que aunque no sea Nadal de apellido,
            es todo un crack en este deporte. Su ambición es
            trasmitir los valores a otras personas.
        </p>
    </div>
</div>

<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista5.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend mb-2">Pablo</h5>
        <p class="card-text">
            Ha jugado al Padel toda su vida, pero una vez que se
            unió al club, no ha dejado de jugar al tenis ni un
            sólo día (sin dejar el padel de lado)
        </p>
    </div>
</div>

<div class="card" style="width: 25rem">
    <img
        src="./assets/images/tennista6.jpg"
        class="card-img-top"
        alt="Tenista 1"
    />
    <div class="card-body">
        <h5 class="text-l font-lexend mb-2">Dolores</h5>
        <p class="card-text">
            Aunque Dolores lleva prácticando tenis con nosotros
            dos años, se ha convertido en una excelente jugadora
            en un tiempo récord.
        </p>
    </div>
</div>