<footer class="bg-white px-28 pt-12 pb-5">
    <div class="text-s text-center">
        <p>Para más información, puedes llamar al teléfono:</p>
        <p><i class="fa-solid fa-phone text-colorYellow pr-2"></i>001188990033</p>
        <p>O si lo prefieres, vía email a:</p>
        <a href="mailto:info@clubtenisficticia.com"><i class="fa-solid fa-envelope text-colorYellow pr-2"></i>info@clubtenisficticia.com</a>
    </div>
    <hr class="my-4"/>
    <div class="flex sm:flex-col md:flex-row justify-between items-center">
        <div>
            <img class="size-16" src="./assets/images/logo.png" alt="Logo club de tennis"/>
        </div>
        <div>
            <ul class="flex sm:flex-col md:flex-row md:items-center text-m text-colorPurple hover:text-colorYellow">
                <li class="pr-8"><a href="./index.html">Inicio</a></li>
                <li class="pr-8"><a href="./participantes.html">Participantes</a></li>
                <li class="pr-8"><a href="#">Información</a></li>
                <li class="pr-8"><a href="#">Inscríbete</a></li>
            </ul>
        </div>
        <div>
            <ul class="flex sm:flex-col md:flex-row text-xl text-colorPurple">
                <li class="pr-2">
                    <a href="#"><i class="fa-brands fa-google-plus"></i></a>
                </li>
                <li class="pr-2">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="pr-2">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
        </div>
</footer>
