<header class="flex sm:flex-col lg:flex-row justify-between items-center pt-5 px-20 pb-2.5 bg-white border-b border-colorYellow">
        <div>
            <a href="/src/index.html"><img class="size-24" src="./assets/images/logo.png" alt="Logo club de tennis"/></a>
        </div>
        <div>
          <ul class="flex sm:flex-col md:flex-row text-l font-poppins text-colorPurple">
            <li class="pr-6"><a href="./participantes.html">Participantes</a></li>
            <li class="pr-6"><a href="#">Información</a></li>
            <li class="pr-6"><a href="#">Inscríbete</a></li>
          </ul>
        </div>
</header>
